<html>
<body>
	<div class="container-fluid">
		<%= link_to new_admin_registration_path do %>
			<button class="btn btn-success hidden-sm hidden-md hidden-lg">Create Admin Account</button>
		<% end %>
		<%= link_to new_admin_session_path do %>
			<button class="btn btn-warning hidden-sm hidden-md hidden-lg">Admin Login</button>
		<% end %>
	</div>
</body>
</html>